div.jumbotron.carousel-hero {
  color: #fff;
  text-align: center;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 0;
  box-shadow: inset 0px -195px 20px rgba(0,0,0,0.46), inset 0px -154px 20px 0px rgba(0,0,0,0.31), inset 0px -136px 20px rgba(50,50,50,0.49);
}

div.jumbotron.hero-nature {
  background: url("../../assets/img/ss_0596bac955340495562f3ff2538756ebd9a7f073.1920x1080.jpg") top / cover no-repeat;
}

div.jumbotron.hero-photography {
  background: url("../../assets/img/hogwards.jpg") top / cover no-repeat;
}

div.jumbotron.hero-technology-1 {
  background: url("../../assets/img/Stray-Wallpaper-Hd.jpg") top / cover no-repeat;
}

div.jumbotron.hero-technology {
  background: url("../../assets/img/opera_Q7A9QcMtbk.png") top / cover no-repeat;
}

p.hero-subtitle {
  max-width: 600px;
  margin: 25px auto;
  padding: 10px 15px;
  color: var(--bs-gray-100);
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: -5px;
  margin-top: 194px;
  font-family: Cabin, sans-serif;
  text-shadow: 2px 1px 6px var(--bs-gray-dark);
}

@media (min-width: 768px) {
  p.hero-subtitle {
    /*color: #fff;*/
    /*font-family: 'Noto Sans', sans-serif;*/
    /*background: rgba(0,0,0,0);*/
    text-shadow: 0px 0px 10px var(--bs-gray-900);
    font-size: 27px;
    text-align: left;
    backdrop-filter: opacity(0.33) blur(3px);
    padding: 10px 15px;
    padding-left: 17px;
    padding-top: 0px;
    margin: 25px auto;
    margin-bottom: 1px;
    margin-right: -92px;
    margin-top: 0px;
    height: 27.2px;
    max-width: none;
    width: 864px;
    margin-left: 0px;
  }
}

@media (min-width: 1200px) {
  p.hero-subtitle {
    margin: 25px auto;
    padding: 10px 15px;
    /*color: #fff;*/
    /*font-family: 'Noto Sans', sans-serif;*/
    /*background: rgba(0,0,0,0);*/
    text-shadow: 0px 0px 10px var(--bs-gray-900);
    width: 864px;
    max-width: none;
    font-size: 42px;
    text-align: left;
    backdrop-filter: opacity(0.33) blur(3px);
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
    height: 27.2px;
    margin-left: 0px;
    padding-bottom: 0px;
  }
}

@media (max-width: 767px) {
  p.hero-subtitle {
    margin: 25px auto;
    padding: 10px 15px;
    /*color: #fff;*/
    /*font-family: 'Noto Sans', sans-serif;*/
    /*background: rgba(0,0,0,0);*/
    text-shadow: 0px 0px 10px var(--bs-gray-900);
    width: 864px;
    max-width: none;
    font-size: 21px;
    text-align: left;
    backdrop-filter: opacity(0.33) blur(3px);
    margin-top: 9px;
    padding-top: 0px;
    height: 27.2px;
    margin-right: -619px;
    padding-left: 0px;
    margin-bottom: -6px;
    margin-left: -10px;
  }
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 0 #048f83!important;
}

.btn-primary:hover {
  color: #fff;
  background-color: #016090;
  border-color: #016090;
}

.btn.btn-primary {
  background-color: #048f83!important;
  border-color: #048f83!important;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(0,123,255,.5);
}

span {
  font-style: inherit;
  font-weight: inherit;
}

@media (min-width: 768px) {
  #sub-sub-title {
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
    height: 18.2px;
    /*font-style: italic;*/
    margin-top: 250px;
    padding-left: 17px;
    margin-bottom: 6px;
    margin-left: 0px;
  }
}

@media (min-width: 1200px) {
  #sub-sub-title {
    font-size: 27px;
    font-family: 'Noto Sans', sans-serif;
    height: 22.2px;
    /*font-style: italic;*/
    margin-top: 300px;
    padding-left: 16px;
    margin-bottom: 10px;
    margin-left: 0px;
  }
}

@media (max-width: 767px) {
  #sub-sub-title {
    font-size: 13px;
    font-family: 'Noto Sans', sans-serif;
    height: 36.2px;
    /*font-style: italic;*/
    margin-bottom: -13px;
    margin-top: 9px;
    max-width: 280px;
    text-align: left;
    padding-left: 0px;
    margin-right: -620px;
    padding-right: 0px;
    margin-left: -11px;
    margin-top: 150px;
    padding-top: 15px;
    padding-bottom: 0px;
  }
}

@media (min-width: 768px) {
  #sub-sub-sub-title {
    font-size: 13px;
    font-family: 'Noto Sans', sans-serif;
    height: 18.2px;
    font-style: italic;
    margin-bottom: 4px;
    margin-top: 9px;
    padding-left: 17px;
    margin-left: 0px;
  }
}

@media (min-width: 1200px) {
  #sub-sub-sub-title {
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
    height: 22.2px;
    font-style: italic;
    margin-bottom: 17px;
    margin-top: 32px;
    padding-left: 14px;
    margin-left: 0px;
  }
}

@media (max-width: 767px) {
  #sub-sub-sub-title {
    font-size: 11px;
    font-family: 'Noto Sans', sans-serif;
    height: 36.2px;
    font-style: italic;
    margin-bottom: 4px;
    margin-top: 12px;
    max-width: 280px;
    text-align: left;
    padding-left: 0px;
    margin-right: -620px;
    padding-right: 0px;
    margin-left: -10px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.w-lg-50 {
  border-style: none;
  color: var(--bs-primary);
}

@media (min-width: 768px) {
  .w-lg-50 {
    font-size: 21px;
    height: 85px;
    padding-top: 4px;
    margin-bottom: -35px;
    margin-top: -54px;
    padding-top: 8px;
  }
}

@media (min-width: 1200px) {
  .w-lg-50 {
    font-size: 22px;
    height: 85px;
    padding-top: 4px;
    margin-bottom: -26px;
    margin-top: -64px;
    padding-top: 13px;
  }
}

@media (max-width: 767px) {
  .w-lg-50 {
    font-size: 15px;
    height: 85px;
    padding-top: 4px;
    margin-top: -41px;
    padding-top: 8px;
    margin-bottom: -68px;
  }
}

@media (min-width: 768px) {
  h2 {
    padding-top: 0px;
    margin-bottom: 11px;
    font-size: 37.4px;
    background: var(--bs-black);
    height: auto;
    width: 100%;
    margin-top: -4px;
  }
}

@media (min-width: 1200px) {
  h2 {
    padding-top: 0px;
    margin-bottom: 14px;
    font-size: 37.4px;
    background: var(--bs-black);
    height: auto;
    width: 100%;
    margin-top: -4px;
  }
}

@media (max-width: 767px) {
  h2 {
    padding-top: 0px;
    margin-bottom: 11px;
    font-size: 25px;
    background: var(--bs-black);
    height: auto;
    width: 100%;
    margin-top: -4px;
  }
}

h2 {
  color: var(--bs-primary);
  background: linear-gradient(82deg, #060607, #181b1e 100%), #101214;
}

.card-body {
  background: rgb(16, 18, 20);
}

.overlay.black {
  overflow-x: hidden;
}

#sub-sub-title {
  /*margin-top: 200px;*/
  --bs-primary: #42DCA3;
  --bs-primary-rgb: 66,220,163;
  color: #42dca3;
  font-weight: bold;
  text-shadow: 1px 0px 5px rgba(8,255,163,0.48), -1px 1px 0px #226043;
}

@media (max-width: 767px) {
  .overlay.black {
    height: 430px;
    /*width: 1920px;*/
    text-align: justify;
    padding-top: 0px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -152px;
  }
}

@media (min-width: 768px) {
  .overlay.black {
    height: 519px;
    /*width: 1920px;*/
    text-align: justify;
    padding-top: 0px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -154px;
  }
}

@media (min-width: 1200px) {
  .overlay.black {
    height: 603px;
    /*width: 1920px;*/
    text-align: justify;
    padding-top: 0px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -143px;
  }
}

@media (min-width: 1200px) {
  #cardss {
  }
}

#menu {
  --bs-dropdown-color: #212529;
  --bs-dropdown-bg: #101214;
  --bs-dropdown-link-hover-bg: #232323;
}

#sidebaar {
}

