#myFooter {
  padding-top: 32px;
}

#myFooter .footer-copyright {
  margin-bottom: 35px;
  text-align: center;
  color: #777;
}

#myFooter ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 18px;
}

@media (max-width: 400px) {
  #myFooter a {
    color: rgb(89,89,89);
    padding-right: 0px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 401px) {
  #myFooter a {
    color: rgb(89,89,89);
  }
}

#myFooter li {
  display: inline-block;
  margin: 0px 15px;
  line-height: 2;
}

#myFooter .footer-social {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #eee;
  font-size: 16px;
}

@media (max-width: 400px) {
  #myFooter .fa {
    font-size: 36px;
    color: #151515;
    border-radius: 51%;
    padding: 10px;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 43px;
    text-decoration: none;
    transition: color 0.2s;
    background: #212529;
    margin-left: 7px;
    margin-right: 7px;
  }
}

@media (min-width: 401px) {
  #myFooter .fa {
    font-size: 36px;
    margin-right: 15px;
    margin-left: 20px;
    color: #151515;
    border-radius: 51%;
    padding: 10px;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 43px;
    text-decoration: none;
    transition: color 0.2s;
    background: #212529;
  }
}

#myFooter .fa-facebook:hover {
  color: #2b55ff;
}

#myFooter .fa-facebook:focus {
  color: #2b55ff;
}

#myFooter .fa-google-plus:hover {
  color: red;
}

#myFooter .fa-google-plus:focus {
  color: red;
}

#myFooter .fa-twitter:hover {
  color: #00aced;
}

#myFooter .fa-twitter:focus {
  color: #00aced;
}

#myFooter .fa-linkedin:hover {
  color: #007BB6;
}

#myFooter .fa-linkedin:focus {
  color: #007BB6;
}

#myFooter {
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
}

