@media (min-width: 992px) {
  #mainNav .nav-link.active {
    outline: none;
    background-color: rgba(140,140,140,0.25);
  }
}

@media (min-width: 992px) {
  a:focus, a:hover {
    /*text-decoration: none;*/
    /*color: #00ffa0;*/
    background-color: rgba(140,140,140,0.25);
  }
}

body {
  padding-right: 0px !important;
  overflow-x: hidden !important;
}

#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 11px;
  color: #fff;
  border: 1px solid #fff;
}

*, *::before, *::after {
  box-sizing: border-box;
}

